html, body { 
    background: ;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 { 
    color: ;
}

body { 
    font-family: ; 
    font-size: 100%; 
    width: 80%; 
    margin-right: auto; 
    margin-left: auto; 
    padding 2.5% 2.5% 0; 
    background: white; 
    line height: 1.8; 
}

h1 { 
    font-size: 1.2em ; 
    margin: 0 10 5px 0; 
    margin-bottom: -0.4em;
    color: ; 
}

h2 { 
    font-size: 3.0em ;
    margin: 0;
}

h3 { 
    font-size: 2em;
}

p { 
    margin-bottom: 1em;
}

header { 
    background: ;
}

header a {
    text-decoration: none;
    color: inherit;
}

a {
    color: blue;
}

a:hover { 
    color: purple; 
}

pre { 
    font-size: ; 
    color: ;
    padding: .;
	border-left: ;
	background: ;
	white-space: ;
	word-wrap: ;
	width: ;
}

dialog { 
    width: auto; 
    max-width: 500px; 
    padding: 20px; 
    border: ; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

dialog::backdrop { 
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background */
}

.site-header { 
    display: flex;
    align-items: ;
    gap: 80px; 
}

/* Checck this */
.title-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#rightnav { 
    align-self: center; 
    margin-top: calc(3.0em / 2);
}

ul {
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 20px;
}

.preview { 
    display: flex;
    list-style: none;
}

.footer { 
    list-style: none;
}

.page-tabs { 
    display: flex; /* Align icons horizontally */
    list-style: none; /* Remove bullets */ 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    justify-content: space-around; /* Space icons evenly */
    
}

.page-tabs li { 
    flex: 1; 
    margin: 0 6px; /* Space between buttons */
}

.page-tabs a { 
    display: block; 
    text-align: center; 
    padding: 10px 15px;
    color: white; 
    font-size: 20px; /* Icon size */ 
    text-decoration: none;
    background-color: #111; /* Button Background */
    border-radius: 6px; /* Button look */
    white-space: nowrap; /* Prevent text wrapping */  
    transition: 0.3s;
}

.page-tabs a:hover { 
    background-color: #444; /* Hover effect */
}

.container. { 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc
}

.flowCenter { 
    align-content: center;
    display: block;
}

.button-link { 
    display: inline-block;
    padding: 10px 20px; 
    background-color: #007BFF; 
    color: white; 
    text-decoration: none;
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    text-align: center;
}